<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head th:replace="fragment/common :: head('게시판')">
    <!-- Required meta tags -->

</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragment/common :: menu(board)"></nav>
<div class="container">
    <h2>게시판</h2>
    <form action="#" th:action="@{/board/form}" method="post" th:object="${postForm}">
        <div class="form-group">
            <input type="hidden" id="memberId" th:value="${member.id}" >
            <label for="title" class="form-label">제목</label>
            <input id="title" type="text" th:field="${postForm.title}" class="form-control"
                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="${postForm.title}">
                제목 에러 메시지
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="form-label">내용</label>
            <textarea th:disabled="${member.id.SIZE ==0} ? disable" class="form-control summernote" id="content" rows="5"
                      th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'" th:field="${postForm.content}"></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="${postForm.content}">
                제목 에러 메시지
            </div>
        </div>
        <div class="form-group" hidden>
            <label for="author" class="form-label">작성자</label>
            <input id="author" type="text" th:field="${member.name}" class="form-control">
        </div>
    </form>
    <div class="text-right" >
        <button type="submit" id="btn-save" class="btn btn-primary" sec:authorize="isAuthenticated()">확인</button>
        <!-- <button type="submit" class="btn btn-primary">확인</button> -->
        <a type="button" class="btn btn-primary" th:href="@{/board/list}" th:if="authenticated" th:text="취소">뒤로가기</a>
    </div>
</div>
<!-- Optional JavaScript -->
<script src="/js/board.js"></script>
<script>
    $('.summernote').summernote({
        tabsize: 2,
        height: 300
    });
</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>