<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/common :: head('게시판')">
    <!-- Required meta tags -->
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragment/common :: menu(board)"></nav>


<div class="container">
    <h2>게시판</h2>
    <div>총 건수 : <span th:text="${posts.getTotalElements()}"></span></div>
    <form class="form-inline d-flex justify-content-end" method="GET" th:action="@{/board/list}">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="searchText" class="sr-only">검색</label>
            <input type="text" class="form-control" id="searchText"  name="searchText" th:value="${param.searchText}">
        </div>
        <button type="submit" class="btn btn-light mb-2">검색</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <th th:text="${post.getId()}"></th>
            <td><a th:text="${post.getTitle()}" th:href="@{/board/detail/{id} (id = ${post.id})}"></a> </td>
            <td th:text="${post.getAuthor()}"></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${1 == posts.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" href="#" tabindex="-1"
                   th:href="@{/board/list(page=${posts.pageable.pageNumber - 1 }, searchText= ${param.searchText})}"
                   aria-disabled="true">Previous</a>
            </li>
            <li class="page-item" th:classappend="${i == posts.pageable.pageNumber + 1} ? 'disabled'" th:each="i: ${#numbers.sequence(startPage,endPage)}">
                <a class="page-link" href="#"
                   th:href="@{/board/list(page=${i - 1}, searchText= ${param.searchText})}"
                   th:if="${i}!=0" th:text="${i}"></a></li>
            <li class="page-item" th:classappend="${posts.totalPages == posts.pageable.pageNumber + 1 || posts.totalPages== 0} ? 'disabled'">
                <a class="page-link" href="#"
                   th:href="@{/board/list(page=${posts.pageable.pageNumber + 1 }, searchText= ${param.searchText})}">Next</a>
            </li>
        </ul>
    </nav>
    <div class="text-right">
        <a type="button" class="btn btn-primary" th:href="@{/board/form}">작성</a>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>